body {
  background-color: hsl(225, 100%, 94%);
  text-align: center;
  font-family: "Red Hat Display", sans-serif;
}

.order {
  border-radius: 15px;
  background-color: white;
  margin: 1.5rem auto;
  box-shadow: -10px 10px 10px hsl(225, 100%, 94%);
  width: 450px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.summary {
  padding: 1rem 2rem 2rem 2rem;
}

@media screen and (max-width: 450px) {
  .order {
    width: 350px;
  }
}

.order p,
.final-checkout .cancel,
.plan .price {
  color: hsl(224, 23%, 55%);
}

.order > img {
  max-width: 100%;
  border-radius: 15px 15px 0 0;
}

.order > p {
  margin: 1rem;
  text-align: center;
  /* padding: 1rem; */
}

.subscription {
  background-color: hsl(230deg 75% 98%);
  border-radius: 10px;
  width: 100%;
  display: inline-flex;
  align-items: center;
  align-content: flex-end;
}

.subscription img {
  border-radius: 5%;
  padding: 1rem;
}

.subscription .plan {
  margin: auto auto auto 0.75rem;
}

.subscription a {
  margin: 0 0.5rem 0 auto;
  display: flex;
  justify-content: flex-end;
}

.final-checkout button.pay {
  /* margin: 1.5rem auto; */
  width: 100%;
  padding: 1.2rem 0;
  border-radius: 10px;
  font-weight: 700;
  background-color: hsl(245, 75%, 52%);
  color: white;
  box-shadow: -10px 10px 10px hsl(225, 100%, 94%);
}

.final-checkout .cancel {
  margin-top: 1.5rem;
  padding-bottom: 1.5rem;
}

#cancel:visited {
  color: hsl(224, 23%, 55%);
}

#cancel {
  text-decoration: none;
}

#cancel:hover,
#cancel:focus {
  color: black;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media screen and (min-width: 1024px) {
  body {
    background-image: url(/images/pattern-background-desktop.svg);
    background-repeat: repeat-x;
  }
}
